.logo-header {	float: right}

.header-nav .nav {	float: left}

@media only screen and (max-width:991px) { 

.header-nav .nav {	float: none;}

}

.extra-nav, .login-bx, .social-bx {	float: left}

.e-p-bx li i, .login-bx li i, .social-bx li i {	margin: 0 0 0 5px;	vertical-align: inherit}

@media only screen and (max-width:991px) {

.top-bar [class*=col-] {	text-align: left}

.login-bx, .social-bx {	margin: 0 15px 0 0}.e-p-bx {	margin: 0 0 0 6px}

}



.bootstrap-select.btn-group .dropdown-toggle .filter-option, 

.sf-address-bx {text-align: right}

.header-nav .nav>li.menu-item-has-children:before {	right: auto;	left: 4px}



@media only screen and (max-width:991px) { 

.header-nav .nav>li.menu-item-has-children:before {	left: 10px;}

}



.extra-nav {	margin-left: 15px;	margin-right: 0;}

.extra-nav ul li {	margin-left: 0;	margin-right: 10px}

@media only screen and (max-width:991px) {

.extra-nav {	margin-left:0;	float:none;}

}

.has-child span {	right:auto;	left:4px;}

.has-child .has-child span {	right:auto !important;	left:3px !important; }

.bootstrap-select.btn-group .dropdown-toggle .caret {	right: auto;	left: 12px}

.provider-map #gmap-controls-wrapper {	right: auto;	left: 20px}

#gmap-controls-wrapper {	left: 0;	right: 20px}

.service-plus {	left: auto;	right: 20px}

.service-name, .sf-address-bx .fa, .sf-category-tag {	right: 0;	left: auto}

.service-plus i {	margin-left: 5px;	margin-right: 0}

.info_details {	margin-left: 0;	margin-right: -160px}

#infocloser {	left: auto;	right: 6px}

.infoimage {	float: right;	margin-left: 15px;	margin-right: 0}

.blog-post .post-date {	float: right;	margin: 0 0 30px 30px}

.blog-post .read-more:after {	display: none}

.blog-post .read-more:before {	content: "\f100";	font-family: FontAwesome}

.blog-post .post-meta ul {	float: left;	margin-top: -5px}

.blog-post.no-img-post .post-date {	float: right}

.blog-grid.blog-post .post-date {	margin: 0 0 5px 30px}

.searchform input[type=text] {	padding: 10px 15px 10px 90px}

.searchform input[type=submit] {	right: auto;	left: 0}

ol.comment-list li.comment .reply a {	right: auto;	left: 30px}



.comments-area p.comment-form-author:before, 

.comments-area p.comment-form-comment:before, 

.comments-area p.comment-form-email:before, 

.comments-area p.comment-form-url:before {	left: auto;	right: 15px}

.comments-area .comment-form p input[type=text], .comments-area .comment-form p textarea {	padding: 10px 50px 10px 10px}

.latest-blog .post-meta ul {	float: none}

.sf-submit-my-profile, .testimonial-pic {	float: right}

ol.comment-list li.comment .comment-body {	margin-left: 0;	margin-right: 80px}

ol.comment-list li.comment .comment-author .avatar {	left: auto;	right: -80px}

ol.comment-list li.comment .comment-body::before {	right: -12px;	left: auto}

ol.comment-list li.comment .comment-body::after {	right: -14px;	left: auto}

ol.comment-list li.comment .comment-body::after, 

ol.comment-list li.comment .comment-body::before {-moz-transform: rotate(-180deg);	-webkit-transform: rotate(-180deg);	-o-transform: rotate(-180deg);	-ms-transform: rotate(-180deg);	transform: rotate(-180deg);	vertical-align: middle}

.testimonial-text strong::after {	position: relative;	right: 3px}



.side-bar .widget_archive ul li::before, 

.side-bar .widget_categories ul li::before, 

.side-bar .widget_meta ul li::before, 

.side-bar .widget_nav_menu ul li::before, 

.side-bar .widget_pages ul li::before, 

.side-bar .widget_recent_comments ul li::before, 

.side-bar .widget_recent_entries ul li::before, 

.testimonial-pic::before {	left: auto;	right: 0}

.testimonial-text span {	margin-right: 3px}

.testimonial-text strong {	margin-right: 0}

.testimonial-text {	margin-left: 0;	margin-right: 120px}



.side-bar .widget_archive ul li, .side-bar .widget_categories ul li, 

.side-bar .widget_meta ul li, .side-bar .widget_nav_menu li, 

.side-bar .widget_pages ul li, 

.side-bar .widget_recent_comments ul li, 

.side-bar .widget_recent_entries ul li {	padding: 10px 20px 10px 10px}

.widget i.fa {	margin-left: 5px;	margin-right: 0}



.recent-posts-entry .post-date, 

.tweets-feed-entry .tweet-date {	display: inline-block;	margin-left: 3px}

footer p a {	display: inline-block}

.recent-posts-entry .post-text-bx {	margin-left: 0;	margin-right: 75px}

.recent-posts-entry .post-thum-bx {	float: right;	margin-left: 15px;	width: 70px}

button.scroltop {	left: 10px;	right: auto}



#footer .widget_archive ul li:before, #footer .widget_categories ul li:before, #footer .widget_meta ul li:before, #footer .widget_nav_menu ul li:before, #footer .widget_pages ul li:before, #footer .widget_recent_comments ul li:before, #footer .widget_recent_entries ul li:before {	left: auto;	right: 0;	content: "\f0d9"}

#footer .widget_archive li li, #footer .widget_categories li li, #footer .widget_meta li li, #footer .widget_nav_menu li li, #footer .widget_pages li li, #footer .widget_recent_comments li li, #footer .widget_recent_entries li li { padding-left: 5px; padding-right: 7px}

.rating-container .rating-stars { right: 0}

ul.contact-info li .fa { left: auto;	right: 0}

ul.contact-info li {	padding: 0 25px 15px 0}

.sf-check-my-profile { float: left}

.profile-menu ul li i {	border-right: none;	border-left: 1px solid #e8e9e9;	left: auto;	margin-right: 0;	margin-left: 10px;	right: 10px}

.profile-menu ul li { padding: 10px 50px 10px 40px}

.auther-pic-text .profile-pic-bx {	float: right}



.profile-pic-bx ul.rwmb-images li .rwmb-image-bar {	padding: 0 6px;	right: auto;	left: 0}

.attachment-files .rwmb-image-bar, .gallery-images .rwmb-image-bar {	left: 15px;	padding: 0 5px;	right: auto}

.tabbable.tabs-left .nav-tabs {	border-right: none;	border-left: 1px solid #ddd}

.tabbable.tabs-left .nav-tabs li {	margin-right: 0;	margin-left: -1px}

.tabbable.tabs-left .nav-tabs li.active a, 

.tabbable.tabs-left .nav-tabs li:focus a, 

.tabbable.tabs-left .nav-tabs li:hover a { border-right-color: #e1e1e1;	border-left-color: transparent} 

.tabbable.tabs-left .tab-content {	margin-left: 0;	margin-right: -1px}

div.dataTables_wrapper div.dataTables_filter {    text-align: left;}

div.dataTables_length {	text-align: right}

div.dataTables_paginate { text-align: left}

.scheduledata-bx .staffmembers-bx { float: left}

.cal-row-fluid [class*=cal-cell], 

.rwmb-images li, .scheduledata-bx .month-title {	float: right}



@media only screen and (max-width:1024px) {

	div.dataTables_info {	text-align: right}

}

.sf-radio-checkbox input[type=checkbox]+label::before, 

.sf-radio-checkbox input[type=radio]+label::before {	margin-right: -25px !important;	margin-left: 0 !important}

.sf-radio-checkbox input[type="checkbox"] + label, 

.sf-radio-checkbox input[type="radio"] + label {	padding-left: 0 !important;	padding-right: 25px !important;}

.form-group.form-inline .checkbox, 

.form-group.form-inline .radio {	margin-right: 0;	margin-left: 15px}

.rwmb-input.ui-sortable .form-control {	padding-left: 95px;	padding-right: 15px}

.rwmb-input.ui-sortable .show-embed {	right: auto;	left: 0}

.accodian-style1 .indicator {	right: auto;	left: -1px;}

ul.share-social-bx li, ul.sharebtn-bx li {	padding: 0 0 0 10px}

ul.share-social-bx li i, ul.sharebtn-bx li i {	border-right: none;	border-left: 1px solid #efeded;	margin: 0 0 0 10px}

.services-row table tr td:first-child {	padding-left: 15px}

.services-row table tr td:last-child {	padding-right: 15px}

.about-info .sf-provider-des {	margin: 0 0 15px 15px}

ul.indiget-booking li { margin-right: 0; margin-left: 30px}

ul.indiget-booking li b {margin-right: 0; margin-left: 10px}



.btn .fa-arrow-right, 

.zabuto_calendar .table th span .glyphicon-chevron-right { -moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg);	transform: rotate(180deg); vertical-align: middle}



.btn .fa-arrow-left, 

.zabuto_calendar .table th span .glyphicon-chevron-left {	-moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -o-transform: rotate(-180deg);	-ms-transform: rotate(-180deg);	transform: rotate(-180deg);	vertical-align: middle}



.owl-carousel.owl-rtl .owl-controls .owl-prev i {	-moz-transform: rotate(-180deg);	-webkit-transform: rotate(-180deg);	-o-transform: rotate(-180deg);	-ms-transform: rotate(-180deg);	transform: rotate(-180deg)}



.owl-carousel.owl-rtl .owl-controls .owl-next i {	-moz-transform: rotate(180deg);	-webkit-transform: rotate(180deg);	-o-transform: rotate(180deg);	-ms-transform: rotate(180deg);	transform: rotate(180deg)

}



.owl-btn-center-lr .owl-controls .owl-nav .owl-next { left: 0;	right: auto}

.owl-btn-center-lr .owl-controls .owl-nav .owl-prev { left: auto;	right: 0}

.provider-details .provider-logo {	float: right;	margin-left: 30px;	margin-right: 0}

.provider-info .table tr td i { margin-right: 0;	margin-left: 10px}

.form-step-bx h6 strong { left: auto; right: -30px}

.sf-documents-table .price-bx { left: auto;	right: 15px}

.sf-documents-table .panel-heading { padding-left: 0;	padding-right: 40px}

.provider-services ul li {	padding: 0 25px 15px 0}

.provider-services ul li i { left: auto;	right: 0}

.provider-services ul li .p-s-title .cost {	float: left}

.provider-services ul li .fa-check {	transform: rotateY(-180deg)}

.form-step-bx .btn.edit { left: 0;	right: auto}

.recent-services-bx .post-thum-bx {	margin-right: 0; margin-left: 15px;	float: right}

.recent-services-bx .post-text-bx { margin-left: 0; margin-right: 90px}

.bootstrap-select div.dropdown-menu ul li a img { margin-left: 5px;margin-right: 0}

.job_filters .search_jobs>div.search_categories, 

.job_filters .search_jobs>div.search_keywords, 

.job_filters .search_jobs>div.search_location, 

.job_filters .search_jobs>div.search_region {	float: right}



@media only screen and (max-width:991px) {

.job_filters .search_jobs div.search_categories, 

.job_filters .search_jobs div.search_keywords, 

.job_filters .search_jobs div.search_location, 

.job_filters .search_jobs div.search_provider_categories {	float: none}

}



.job_filters .job_types li {	border-left: 1px solid #ddd;	border-right: none;	float: right}

.job_filters .showing_jobs a.reset, .job_filters .showing_jobs a.rss_link {	float: left;	margin-left: 0;	margin-right: 10px}

.showing_jobs>span, ul.job_listings 

.job_listing .job-comapny-logo {	float: right}

.job-comapny-info {	padding-left: 0;	padding-right: 120px}

.job-comapny-info .meta, 

.job-comapny-info .position { padding-left: 0;	padding-right: 30px}

.job-comapny-info .location {	padding-right: 45px}

.job_listing .location:before {	left: auto;	right: 7px}@media only screen and (max-width:991px) {

.job_filters .job_types li {	border: 1px solid #ddd;	margin-right: 0;	margin-left: 10px}

}



@media only screen and (max-width:767px) {

.dataTables_empty, 

div.dataTables_paginate {	text-align: right} 

.showing_jobs>span {	width: 60%}

.job-comapny-info .meta {	right: auto;	left: 30px}

.job_listing .location:before {	left: auto;	right: 30px}

}



@media only screen and (max-width:600px) {

.job-comapny-info {	padding-left: 0;	padding-right: 40px}

.job-comapny-info .meta {	width: auto;	min-width: 120px;	position: static;	margin-left: 25px}

.job-comapny-info .location {	padding-left: 0;	padding-right: 42px}

}

.job-manager-form fieldset .account-sign-in .button {	float: left}

.job-manager-form input[type=submit] {	margin-left: 0;	margin-right: 31%}

@media only screen and (max-width:767px) {

.rtl .entry-content .job_listing_preview_title .button, 

.rtl .job-manager-form div.field, 

.rtl .job-manager-form label, 

.rtl .job_listing_preview_title .button {	float: none}



.job-manager-form input[type=submit] {	margin-right: 30px}

}

.blog-detail .post-meta ul, 

.cancel-off-png, .cancel-on-png, 

.sf-job-info .company-logo-info, 

.sf-location-listing li, .star-half-png, 

.star-off-png, .star-on-png {	float: right}

.sf-job-title-company {	margin-left: 152px;	margin-right: 170px}

.job_application.application {	right: auto;	left: 30px}



@media only screen and (max-width:767px) {

.job_application.application {	margin-right: 100px;	margin-top: 15px;	position: static}

.sf-job-title-company {	margin-left: 0;	margin-right: 100px}

.sf-job-info .company-logo-info {	width: 80px}

.sf-job-title {	margin: 0 0 10px}

}



.header-nav .nav>li .sub-menu {	left: auto;	right: 0}

.wp-social-login-provider-list [class*=wp-social-login-provider-]:after {	left: auto;	right: 50px;	font-size: 14px}

.wp-social-login-provider-list [class*=wp-social-login-provider-]:before {	left: auto;	right: 20px;	font-size: 15px}

.comments-area .comment-form #add_comment_rating_wrap #add_post_rating {	left: 0;	right: auto}

.sf-services-list .panel-heading[aria-expanded]::before {	right: auto;left: 15px}

.blog-md.blog-post .post-thum {	float: right;	margin-left: 30px;	margin-right: 0}

.star-rating .caption { padding-left: 0;	padding-right: 5px;}

.rating-container, 

.rating-container .rating-stars { direction: ltr;}

.sf-scroll-nav {	right: auto;	left: 0;}

.sf-scroll-nav ul li strong {	left: -200px;	right: auto;	border-left: 0;	border-right: 3px solid #3396d1;}

.sf-scroll-nav ul li:hover strong {	left: 100%;	right: auto;}



@media only screen and (max-width:991px) {

.sf-rtl .header-nav-left {	position: fixed;	top: 0;	right: -100%;	width: 240px;	height: 100%;	min-height: 100vh;	background-color: #fff;	margin: 0 !important;	overflow: auto;	z-index: 999;}

}



.sf-how-work .sf-no-step {	right:auto;	left:-40px;}

.sf-quote-wrap .rwmb-images li { float:right; }

.sf-experience-acord .sf-panel .acod-title .exper-date, 

.sf-qualification-acord .sf-panel .acod-title .exper-date {right:auto; left:15px;}

.sf-certificates-list li .awards-pic { margin-left: 20px; margin-right:0; float: right; }

.sf-services-area .sf-servicemeta { left: 20px; right:auto; } 

.sf-ques-ans-list li .sf-ques-ans-author {left:auto; right:15px;}

.sf-ques-ans-list .sf-ques-area, .sf-ques-ans-list .sf-ans-area { padding: 15px 80px 15px 15px; }



#header-admin { left:0; right:auto; }

.header-left { float: right; }

.header-right { float: left; }

.header-widget-wrap > .header-widget { margin-left:0; margin-right:20px;}





#sidebar-admin-wraper { left: auto; right:0; }

#sidebar-admin-wraper.active {    margin-right: -250px;}



@media only screen and (max-width:768px) {

#sidebar-admin-wraper {margin-right: -250px; }

#sidebar-admin-wraper.active { margin-right: 0;}

}



.has-child .submenu-toogle { right:auto; left:10px; }

.admin-nav ul li a > i { font-size: 18px; margin-right:0; margin-left: 20px;}

.admin-nav ul li .sub-menu > li a {    padding-left:25px;  padding-right:65px; }

#content { right:auto; left:0; }

.sf-submit-btns {  right: auto; left:0 ;}



.header-widget .dropdown-menu.sf-notification-list { left: -20px; right: auto;}

.header-widget .dropdown-menu.sf-myaccounts-list { left:26px; right: auto; }



.header-widget .dropdown-menu.arrow-up:after{ right: auto;  left: 20px;}

.header-widget .dropdown-menu.arrow-up:before{right:auto; left:19px;}



@media only screen and (max-width:480px) { 

.header-widget .dropdown-menu.sf-notification-list {  left:-168px;}

.header-widget .dropdown-menu.sf-myaccounts-list { left:16px;  }

.header-widget .dropdown-menu.sf-notification-list:after { right:auto;  left:166px;}

.header-widget .dropdown-menu.sf-notification-list:before { right:auto;  left:165px;}

}



.alert.alert-success,

.alert.alert-danger

/*.alert.alert-warning,

.alert.alert-info*/ { padding:25px 70px 25px 25px; text-align:right; }



.alert.alert-success:after,

.alert.alert-danger:after

/*.alert.alert-warning:after,

.alert.alert-info:after*/ { left:auto; right:20px;} 



.alert.alert-success:before,

.alert.alert-danger:before,

.alert.alert-warning:before,

.alert.alert-info:before {  right:auto; left:10px; } 





.login-bx .sf-notification-list {	left: -20px;  right: auto; }

.login-bx .sf-notification-list.arrow-up:after { right:auto; left:30px; }



@media only screen and (max-width:767px) { 

.alert.alert-success,

.alert.alert-danger

/*.alert.alert-warning,

.alert.alert-info*/ { padding:20px 60px 20px 20px; text-align:right; }

}



.auther-pic-text .profile-text-bx {

    margin-left: 0;

	margin-right:200px;

}



@media only screen and (max-width: 480px) {

.auther-pic-text .profile-pic-bx {

	float: right;

	margin-right:0;

}

.auther-pic-text .profile-text-bx {

	margin-right: 140px;

}

}



.has-feedback .bootstrap-select { padding-left:0; }

.sf-services-area .acod-head { margin-right:0; left:120px;} 

@media only screen and (max-width: 991px) { 
.sf-notopbar-notification .sf-notifications {	right: auto; left:-120px;}
.sf-notopbar-notification .sf-notifications.arrow-up:after { right:auto; left:188px;}
}
@media only screen and (max-width: 650px) { 
.sf-notopbar-notification .sf-notifications {	right:auto;  left:-150px;}
.sf-notopbar-notification .sf-notifications.arrow-up:after { right:auto; left:215px;}
}

@media only screen and (max-width: 480px) { 
.sf-notopbar-notification .sf-notifications {	right:auto; left:-176px;}
.login-bx .sf-notification-list {	right:auto; left:-150px;}
.login-bx .sf-notification-list.arrow-up:after { right:auto; left:160px;}
}
@media only screen and (max-width:360px) { 
.sf-notopbar-notification .sf-notifications {	right:auto;  left:-190px;}
}

.has-child .open-close-btn { right:auto; left: 10px;}

.sf-anybooking-select {float: left; }
.sort-filter-bx .f-f-left { float: right;}
.sort-filter-bx .f-f-right { float: left; }
.sf-search-any-option li { float: right;}
.sf-search-any-option li.sf-filterby-date {  float: right; }


.sf-map-serach-page .sf-search-any-option li { float: right;}
.sf-map-serach-page .sf-search-any-option li { float: right;}
.sf-search-sortby li .bootstrap-select .dropdown-toggle {  padding-left: 20px;  padding-right: 10px; }
.sort-filter-bx > .sf-tilte { left: auto; right: 15px; }

